[Unit]
Description=bitsongd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=bitsongd
Group=bitsongd
PermissionsStartOnly=true
ExecStart=/usr/bin/bitsongd start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

